@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.back{
    width: 40px;
    position: absolute;
    top: 5%;
    left: 10%;
}
.body{
    display: flex;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    align-items: center;
    justify-content:center;
    box-sizing: border-box;
}
.container{
    background-color: rgb(82, 81, 184);
    color: white;
    padding: 20px 40px;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 10px 0px black;
}
.container h1{
    font-size: 2rem;
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}
.container img{
    width: 220px;
    margin: 30px 0;
}
.container p{
    font-size: 1.1rem;
    font-weight: bold;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    align-self: flex-start;
}
.container span{
    font-weight: 100;
    font-style: normal;
    padding-right: 5px;
    font-size: 16px;
}

@media (max-width: 850px){
    .back{
        width: 35px;
    }
    .container{
        width: 300px;
        height: 500px;
        padding: 15px 30px;
    }
    .container h1{
        font-size: 1.5rem;
    }
    .container img{
        margin: 20px 0;
    }
    
}

@media (max-width: 450px){
    .back{
        width: 30px;
    }
    .container{
        width: 70%;
        height: 420px;
        padding: 10px 20px;
    }
    .container h1{
        font-size: 1.2rem;
    }
    .container img{
        width: 200px;
        margin: 20px 0;
    }
    .container p{
        font-size: 16px;
    }
    .container span{
        font-size: 16px;
    }
    .container img{
        margin: 20px 0;
    }
    
}
@media (max-width: 300px){
    .back{
        width: 25px;
    }
    .container{
        width: 70%;
        height: 350px;
        padding: 10px 20px;
    }
    .container img{
        width: 110px;
        margin: 10px 0;
    }
    .container h1{
        font-size: 14px;
        padding-bottom: 2px;
    }
    .container p{
        font-size: 10px;
        padding-top: 10px;
    }
    .container span{
        font-size: 10px;
    }
    .container img{
        margin: 20px 0;
    }
    
}