@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.cardCountry{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    flex-wrap: wrap;
    height: 300px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    box-sizing: border-box;
}
.cardCountry:hover{
    background-color: rgba(255, 255, 255, 0.712);
}
.cardCountry h1{
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 15px;
    font-family: 'Roboto', sans-serif;
}
.cardCountry img{
   width: 180px;
   height: 120px;
   padding: 10px 0;
}
.cardCountry h2{
    color: black;
    font-weight: bold;
    font-size: 1.8rem;
    padding-top: 15px;
}