.headerBody{
    background-color: #000;
    width: 100%;
    box-sizing: border-box;
}
.header{
    max-width: 960px;
    padding: 0 22px;
    height: 70px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    box-sizing: border-box;
}
.btn_menu{
    display: none;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    gap: 50px;
}
.btn_apply{
    background-color: white;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 1px;
    padding: 2px 10px;
    border: none;
    cursor: pointer;
}
.btn_apply:active{
    background-color: rgb(204, 204, 204);
}
.labels{
    padding-right: 5px;
}
.input{
    width: 100px;
}
.selects{

}
@media (max-width: 1000px){
    .menu{
        display: block;
        position: absolute;
        left: -100%;
        top: 70px;
        background-color:black;
        width: 100%;
        padding: 0 22px;
        overflow: hidden;
        transition: .3s;
        box-sizing: border-box;
    }
    .btn_menu{
        display: flex;
        background: none;
        border: none;
        cursor: pointer;
    }
    .hamburger{
        width: 22px;
        border-top: 2px solid white;
    }
    .hamburger::before{
        content: "";
        display: block;
        position: relative;
        width: 22px;
        height: 2px;
        background-color: white;
        margin: 5px 0px;
        transition: .3s;
    }
    .hamburger::after{
        content: "";
        display: block;
        position: relative;
        width: 22px;
        height: 2px;
        background-color: white;
        margin: 5px 0px;
        transition: .3s;
    }
    #nav.active .menu{
        left: 0;
    }
    #nav.active .hamburger{
        border-top-color: transparent;
    }
    #nav.active .hamburger::before{
        transform: rotate(135deg);
        width: 22px;
    }
    #nav.active .hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
        width: 22px;
    }
    .options{
        padding: 22px;
    }
    .btn_apply{
        margin: 22px;
    }
}