.Loading{
    width: 100%;
    height: 100vh;
    background-color: black;
    box-sizing: border-box;
    padding: 20% 0;
    color: white;
    font-size: 3rem;
    text-align: center;
}
.App{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgb(139, 139, 139), rgb(214, 214, 214));
    min-height: 100vh;
}
.div-grid{
    margin: 0 auto;
}
.grid-display{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 110px 0px 40px 0px;
    gap: 30px;
}
@media (max-width: 1300px){
    .grid-display{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (max-width: 1000px){
    .grid-display{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 780px){
    .grid-display{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 520px){
    .grid-display{
        grid-template-columns: 1fr;
    }
}